{% extends 'base.html.twig' %}

{% block title %}Результат{% endblock %}

{% block body %}

<div class="container">
	<div class="col-6 offset-3">

		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-center">Номинальная зарплата</h5>
				<p class="card-text text-center">{{ salary.baseRate }}</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-center">Ваша рельная зарплата</h5>
				<p class="card-text text-center">{{ salary.realRate }}</p>
			</div>
		</div>
	</div>

	
</div>


{% endblock %}