{% extends 'base.html.twig' %}

{% block title %}Калькулятор зарплаты{% endblock %}

{% block body %}

<div class="container">
    
    <div class="col-6 offset-3">
        <h1>Калькулятор зарплаты</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

</div>


{% endblock %}
